
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #333;
}

header {
    background: #007bff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

ul li:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

ul li a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

#diagrama {
    text-align: center;
    margin-top: 20px;
}

#diagrama img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2; /* Cambiar el color de fondo */
}

/* Estilo para el botón de regreso al inicio */
.footer .back-to-top-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; /* Añadir bordes redondeados */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

.footer .back-to-top-btn:hover {
    background-color: #0056b3; /* Cambiar el color de fondo en el hover */
}

/* Estilo para la imagen dentro del vínculo 2 de los materiales */
.img {
    display: block;
    margin: 20px auto; /* Centrar la imagen horizontalmente con un margen */
    max-width: 80%; /* Ajustar el tamaño máximo de la imagen */
    height: 50%; /* Mantener la proporción de la imagen */
    border-radius: 8px; /* Agregar bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}

